<section class="vh-50">
  <div class="container h-100" *ngIf="!isOpenBook && parameter!='subscription'">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-7 col-xl-4">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <div class="card-body">

                  <table>
                    <tbody *ngFor="let subscribeBook of subscribeBookList; let i= index"
                      style="background-color: white;">
                      <tr>
                        <p style="word-wrap: break-word;"> <img id="myimage" [src]='thumbnail[i]'
                            style="height: 100px; width: 100px;" /></p>
                        <p style="word-wrap: break-word; font-weight: bold;"
                          (click)="openBook(subdIdList.get(subscribeBook.books.id).id)">Book:
                          {{subscribeBook.books.title}}</p>
                        <span style="word-wrap: break-word;">Category : {{subscribeBook.books.category}}</span> &nbsp;
                        <span style="word-wrap: break-word;">Author : {{subscribeBook.userName}}</span>

                        <br />
                        <span style="word-wrap: break-word;"><button
                            (click)="unsubscribe(subdIdList.get(subscribeBook.books.id).id)"
                            class='btn btn-primary' style="background-color: rgb(207, 113, 194); color: yellow; font-weight: bold;">Unsubscribe</button>
                        </span>
                        <hr />

                    </tbody>

                  </table>
                  <div>
                    <p style="color: green;" *ngIf="unsubscribeMessage!=null">{{unsubscribeMessage.message}}</p>
                    <p style="color: red;" *ngIf="unsubscribeErrorMessage!=null">{{unsubscribeErrorMessage.message}}</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Read Book section -->
<section class="vh-100">
  <div class="container h-100" *ngIf="isOpenBook && parameter!='subscription'">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-7 col-xl-4">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"> </p>


                <table>
                  <tbody style="background-color: white; ">
                    <tr *ngIf="contentError===undefined">
                      <p style="word-wrap: break-word; font-weight: bold; font-size: 30px; color: darkmagenta;">{{content.title}}</p>
                      <hr />
                      <a href="{{content.content}}" target="_blank" style="font-size: 25px;">Click me to read</a>                    
                    </tr>
                    <tr *ngIf="content===undefined">
                      <td style="word-wrap: break-word; font-weight: bold; color: red;">{{contentError}}</td>

                    </tr>

                  </tbody>
                </table>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Search with subscription id-->
<section class="vh-50">
  <div class="container h-100" *ngIf="parameter=='subscription'">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-7 col-xl-4">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"> </p>
                <div class="card-body">

                  <form [formGroup]="searchSubscriptionForm" (submit)="onSubmitToSearchForSubscription()">
                    <div class="form-group">
                      <div>
                        <input type='text' formControlName="subscriptionId" class='form-control'
                          [ngClass]="{ 'is-invalid': submitted && f['subscriptionId'].errors }" required
                          placeholder="Subscription ID" />
                        <div *ngIf="submitted && f['subscriptionId'].errors" class="invalid-feedback">
                          <div *ngIf="f['subscriptionId'].errors['required']">Subscription id is required</div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-sm-5 mx-auto">
                            <input type="submit" class='btn btn-primary btn-lg' value='Search' id='search' style="background-color: rgb(207, 113, 194); color: yellow;"/>
                          </div>
                        </div>
                        <!-- <p *ngIf="subscribedbook!=null">{{subscribedbook}}</p> -->
                        <p  style="color: red;" *ngIf="subscribedbookError!=null">{{subscribedbookError}}</p>
                      </div>
                    </div>
                  </form>
                  <div>
                    <p style="color: green;" *ngIf="unsubscribeMessage!=null">{{unsubscribeMessage.message}}</p>
                    <p style="color: red;" *ngIf="unsubscribeErrorMessage!=null">{{unsubscribeErrorMessage.message}}</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Read Invoice section -->
<section class="vh-100">
  <div class="container h-100" *ngIf="subscribedbook!=null">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-7 col-xl-4">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: rgb(107, 6, 107);">Invoice</p>

                <div class="card-body">
                  <table>
                    <tbody style="background-color: white; ">
                      <tr *ngIf="subscribedbook!=null">
                        <ul style="font-weight: bold; font-size: 15px;">Book ID: {{subscribedbook.bookId}}</ul> 
                        <ul style="font-weight: bold; font-size: 15px;">Date of the Subscription: {{subscribedbook.dateOfSubscription}} {{subscribedbook.bookId}}</ul>
                        <ul *ngIf="subscribedbook.bookId==0"
                        style="font-weight: bold; font-size: 15px;">Status: Cancelled </ul>
                        <ul *ngIf="subscribedbook.bookId==1"
                        style="font-weight: bold; font-size: 15px;">Status: Not Cancelled </ul>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
