<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Add Books</h3>
            <div class="card">
                <form class="form-card" class="form-group" name="addBookForm" #loginForm="ngForm" (ngSubmit)="validate(loginForm)" novalidate>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Book name<span class="text-danger"> *</span></label> <input  required [(ngModel)]="book.bookName" ngModel type="text" id="bookname" name="bookname" placeholder="Enter the book name"  > </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Author name<span class="text-danger"> *</span></label> <input required [(ngModel)]="book.authorName" pattern="[A-Za-z ]*$" type="text" id="authorname" name="authorname" placeholder="Enter the author name"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Price<span class="text-danger"> *</span></label> <input required [(ngModel)]="book.price" type="number" id="price" name="price" placeholder="Enter book price"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Genre<span class="text-danger"> *</span></label> <input required [(ngModel)]="book.genre" type="text" id="Genre" name="genre" placeholder="Enter book genre"> </div>
                    </div>
                    <br>
                    <span style="margin-left: -400px;">Would you like to borrow this book?</span>
                    <div class="form-check form-check-inline" style="padding-left: 50px;">
                        <input required [(ngModel)]="book.borrowedStatus" name="bstatus" class="form-check-input" type="radio" id="bstatus" value="true">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input required [(ngModel)]="book.borrowedStatus" name="bstatus" class="form-check-input" type="radio"  id="bstatus" value="false">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="submit" [disabled]="!checkAllFields(loginForm)" class="btn-block btn-primary">Save</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>