<section class="vh-50">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-7 col-xl-4" *ngIf="!isUpdate">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">                
                
                  <div class="card-body">
           
             <table>
                <tbody *ngFor="let createdBook of createdBookList; let i= index" style="background-color: white; ">
                    <tr >
                        <p style="word-wrap: break-word;"> <img id="myimage" [src]='thumbnail[i]' style="height: 70px; width: 70px;;" /></p>
                        <p style="word-wrap: break-word; font-weight: bold;">Book: {{createdBook.title}}</p>
                        <span style="word-wrap: break-word;">Category : {{createdBook.category}}</span>&nbsp;
                        <span style="word-wrap: break-word;">Publisher : {{createdBook.publisher}}</span>&nbsp;
                        <span style="word-wrap: break-word;">Price : {{createdBook.price}}</span>

                    <br/><br/>
                        <span style="word-wrap: break-word;" *ngIf="createdBook.active"><button 
                          (click)="block(createdBook.id, createdBook.active)" class="btn btn-primary" style="background-color: rgb(207, 113, 194); color: yellow;">Block</button>
                        </span>
                        <span style="word-wrap: break-word;" *ngIf="!createdBook.active">
                          <button  *ngIf="!createdBook.active" (click)="block(createdBook.id, createdBook.active)" class="btn btn-primary" style="background-color: rgb(207, 113, 194); color: yellow;">UnBlock</button>
                        </span> &nbsp;
                        <span style="word-wrap: break-word;"><button (click)="update(createdBook.id)" class="btn btn-primary" style="background-color: rgb(207, 113, 194); color: yellow;">Update</button></span>
                        </tr>
                        
                        <hr/>

                </tbody>
              
             </table>
             <p *ngIf="blockUnblockMessage!=null">{{blockUnblockMessage.message}}</p>
         
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- Update Book Section-->  
<section class="vh-100">
  <div class="container h-100" *ngIf="isUpdate">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Update Book</p>


                <form class="mx-1 mx-md-4" [formGroup]="updateBookForm" (submit)="onSubmitToUpdate()">
				
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type='file'  (change)="onChange($event)"
                        formControlName="logo" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['logo'].errors }" required placeholder="Logo of the book" />
                        <div *ngIf="submittedForCreation && f1['logo'].errors" class="invalid-feedback">
                          <div *ngIf="f1['logo'].errors['required']">Logo is required</div>
                      </div>
                      </div>


                    
                      <div class="form-outline flex-fill mb-0">
                        <input type='text'
                        formControlName="category" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['category'].errors }" 
                        required placeholder="Category of the book" 
                        value="updatableValue.books.category"/>
                        <div *ngIf="submittedForCreation && f1['category'].errors" class="invalid-feedback">
                          <div *ngIf="f1['category'].errors['required']">Category is required</div>
                      </div>
                      </div>
                    </div>
					

                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type='text'
                        formControlName="title" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['title'].errors }" required placeholder="Title of the book" />
                        <div *ngIf="submittedForCreation && f1['title'].errors" class="invalid-feedback">
                          <div *ngIf="f1['title'].errors['required']">Tilte is required</div>
                      </div>
                    </div>
					
                      
                      <div class="form-outline flex-fill mb-0">
                        <input type='text' formControlName="publisher" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['publisher'].errors }" required placeholder="Publisher of the book"/>
                        <div *ngIf="submittedForCreation && f1['publisher'].errors" class="invalid-feedback">
                          <div *ngIf="f1['publisher'].errors['required']">Publisher is required</div>
                      </div>                    
                  </div>
                  </div>
				  

                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type='number' formControlName="price" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['price'].errors }" required placeholder="Price of the book"/>
                      <div *ngIf="submittedForCreation && f1['price'].errors" class="invalid-feedback">
                        <div *ngIf="f1['price'].errors['required']">Price is required</div>                       
                    </div>
                    </div>
                  </div>

                      
                        <div class="form-outline flex-fill mb-0">
                          <input type='textarea' formControlName="content" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['content'].errors }" required placeholder="Content of the book"/>
                      <div *ngIf="submittedForCreation && f1['content'].errors" class="invalid-feedback">
                        <div *ngIf="f1['content'].errors['required']">Content is required</div>
                       
                    </div>
                    </div>
				  
				  <div>
                    <input type='hidden' formControlName="bookId" class='form-control'  />                    

                  </div>

                                        

                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                       <input type="submit" [disabled]="loading" class='btn btn-primary btn-lg' value='Update'  
                          id='search' style="background-color: rgb(207, 113, 194); color: yellow; margin-top: 50px;" />
                      </div>
                     {{createstatus}}
                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>