<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>


<div class="sticky-top mb-3">
  <!--nav bar for everybody-->
  <nav
    class="navbar navbar-expand-lg navbar-dark gradient-custom"
    *ngIf="!isLoggedInFlag"> 

      <a class="navbar-brand" routerLink="#" href="#">Digital Books</a>

     <!-- Right links -->
     <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a routerLink="/signup" class="nav-link" href="#!">
          <div>
            <i class="fa fa-user-plus" aria-hidden="true"></i>         
          </div>
          Signup
        </a>
      </li>
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a routerLink="/signin" class="nav-link" href="#!">
          <div>
            <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
          </div>
          Signin
        </a>
      </li>
    </ul>
    <!-- Right links -->  
  </nav>
  <!--nav bar for author-->
  <nav
    class="navbar navbar-expand-lg navbar-dark gradient-custom"
    *ngIf="isLoggedInFlag && isAuthorLoggedIn">
   <!-- <a routerLink="/createbooks" class="navbar-brand"><span class="h5">Digital Book</span></a>-->
   <a class="navbar-brand" routerLink="#" href="#">Digital Books</a>
 <!-- Left links -->
    <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a routerLink="/createbooks" class="nav-link active" aria-current="page" href="#!">
          <div>
            <i class=class="fa fa-plus-circle" aria-hidden="true"></i>
          </div>
          Create Book
        </a>
      </li>
    </ul>
  <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a routerLink="/createdbooks" class="nav-link active" aria-current="page" href="#!">
          <div>
            <i class=class="fa fa-book" aria-hidden="true"></i>
          </div>
          Your Books
        </a>
      </li>
    </ul>
    <!-- Left links -->
  
  <!-- Right links -->
    <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a routerLink="#" (click)="logout()" class="nav-link" href="#!">
          <div>
            <i class="fa fa-user-plus" aria-hidden="true"></i>         
          </div>
          Logout
        </a>
      </li>
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link" href="#!">
          <div>
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          Hi, {{userName}}
        </a>
      </li>
    </ul>
    <!-- Right links -->  
  </nav>


  <!--nav bar for reader-->
  <nav
    class="navbar navbar-expand-lg navbar-dark gradient-custom"
    *ngIf="isLoggedInFlag && isReaderLoggedIn">
    <a class="navbar-brand" routerLink="#" href="#">Digital Books</a>
<!-- Left links --> 
    <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a routerLink="/" class="nav-link active" aria-current="page" href="#!">
          <div>
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          Search Book
        </a>
      </li>
    </ul>
  <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a [routerLink]="['/search', indication]" class="nav-link active" aria-current="page" href="#!">
          <div>
            <i class=class="fa fa-certificate" aria-hidden="true"></i>
          </div>
          Your Subscribtion Details
        </a>
      </li>
    </ul>
  <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a routerLink="/subescribedbooks" class="nav-link active" aria-current="page" href="#!">
          <div>
            <i class=class="fa fa-scribd" aria-hidden="true"></i>
          </div>
          Your Subscribed Books
        </a>
      </li>
    </ul>
    <!-- Left links -->
  
  <!-- Right links -->
    <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a (click)="logout()" class="nav-link" href="#!">
          <div>
            <i class="fa fa-user-plus" aria-hidden="true"></i>         
          </div>
          Logout
        </a>
      </li>
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link" href="#!">
          <div>
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          Hi, {{userName}}
        </a>
      </li>
    </ul>
    <!-- Right links -->  
  </nav>
  
</div>
