
<!-- Footer -->
<footer class="bg-dark text-center text-white" style="background: linear-gradient(to right, rgb(232, 137, 194), rgb(89, 85, 211))">
    <!-- Grid container -->
    <div class="container p-4" >   <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
      <section class="">        
          <div style="float: none; padding-bottom: 40px;" >
            <h5 aria-hidden="true">Important Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Help</a>
              </li>
              <li>
                <a href="#!" class="text-white">Sign Up!</a>
              </li>
              <li>
                <a href="#!" class="text-white">Tutorials</a>
              </li>
            </ul>
          </div>
       

        <div style="float:inherit; padding-bottom: 0mm;">
            <i class="fa fa-map-marker" aria-hidden="true"> 519 Baker Street</i>
            <p class="mb-0"><i class="fa fa-phone mr-3"></i> (541) 754-3010</p>
          </div>

        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(133, 131, 137, 0.829);">
      © 2022 Copyright:
      <a class="text-white" href="#!">www.IIHT.com</a>
    </div>
  </footer>

