<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>


<div class="sticky-top mb-3">
  <!--nav bar for everybody-->
  <nav
    class="navbar navbar-expand-lg navbar-dark gradient-custom"
    *ngIf="!isLoggedInFlag">
    <a routerLink="#" class="navbar-brand"
      ><span class="h3" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Digital Books</span></a>
      <!-- Right links -->
     <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a routerLink="/signup" class="nav-link">
          <div>
            <i class="fa fa-user-plus" aria-hidden="true"></i>         
          </div>
          Signup
        </a>
      </li>
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a routerLink="/signin" class="nav-link">
          <div>
            <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
          </div>
          Signin
        </a>
      </li>
    </ul>
    <!-- Right links -->
  </nav>
  <!--nav bar for author-->
  <nav
    class="navbar navbar-expand-lg navbar-dark gradient-custom"
    *ngIf="isLoggedInFlag && isAuthorLoggedIn">
    <a routerLink="/createbooks" class="navbar-brand"><span class="h5" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Digital Books</span></a>
    <ul class="navbar-nav">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link" routerLink="/createbooks"><div>
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </div>Create Book</a>
      </li>
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link" routerLink="/createdbooks"><div>
          <i class="fa fa-book" aria-hidden="true"></i>
        </div>Your Books</a>
      </li>
      <li class="nav-item text-center" style="margin-left: 1000px;">
          <a class="nav-link"  routerLink="#" (click)="logout()">
            <div>
            <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
            </div>Logout
          </a>
      </li>    
    </ul>
    <p class="ms-auto" style="color: white; font-size: 18px; padding: 10px 5px;">Hi, {{userName}}</p>
  </nav>
  <!--nav bar for reader-->
  <nav
    class="navbar navbar-expand-lg navbar-dark gradient-custom"
    *ngIf="isLoggedInFlag && isReaderLoggedIn">
    <a routerLink="#" class="navbar-brand"><span class="h5" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Digital Books</span></a>
    <ul class="navbar-nav">
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link" routerLink="/"><div>
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>Search Book</a>
      </li>
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link" [routerLink]="['/search', indication]"><div>
          <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
        </div>Your Subscription Details</a>
      </li>
      <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link" routerLink="/subescribedbooks"><div>
          <i class="fa fa-book" aria-hidden="true"></i>
        </div>Your Subscribed Books</a>
      </li>
      <li class="nav-item text-center" style="margin-left: 700px;">
        <a class="nav-link" (click)="logout()">
          <div>
          <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
          </div>Logout
        </a>
      </li>
    </ul>
    <p class="ms-auto" style="color: white; font-size: 18px; padding: 10px 5px;">Hi, {{userName}}</p>
    
  </nav>

</div>
