.btn {
    padding: .50rem 2.5rem .45rem;
  }
  
  .gradient-custom {
    /* fallback for old browsers */
    background: #c471f5;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(232, 137, 194), rgb(89, 85, 211))
  }
  
  #navbarSupportedContent{
    font-size:larger;
  }

 .h5{
  font-size: x-large;
 }
 a.nav-link{
  font-size: 20px;
  color: yellow;
  position: relative;
 justify-content: center;
 }